/* Style pour les entêtes de toute les pages */
.entete{
    background-color: rgb(2, 115, 152);
    padding:2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.entete a{
    background-color: rgb(0, 61, 126);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    text-decoration: none;
    
}
.entete img{
    max-width: 300px;
    max-height: 100px;
    border-radius: 10px;
}
/* Correction d'entête pour certaines pages */
#btnHome{
    max-height: 20px;
    max-width: 20px;
}

/* Menu.html */
#imgSite{
    width: 1000px;
    height: 400px;
    object-fit: cover;
}
.sectionImage{
    margin-right: none;
    margin-left: none;
    display: flex;
    justify-content: center;
}
.msgbvn{
    background-color: rgb(2, 115, 152);
    padding: 20px;
}
.msgbvn span{
    font-size: 1.5rem;
    color:aliceblue;
    font-family: Helvetica, Arial, sans-serif;
}
.btnMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgb(2, 115, 152);
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-top:3px white solid;
}
.btnMenu a{
    padding: 20px;
    margin: 10px;
    background-color: rgb(0, 61, 126);
    border-radius: 15px;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    width: 325px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
.ftrMenu{
    background-color: azure;
    padding: 10px;
}
.ftrMenu h1{
    font-size: 2rem;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    
}
.ftrMenu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.ftrMenu ul li{
    background-color: rgb(0, 61, 126);
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    border-radius: 10px;
}
.ftrMenu ul li img{
    object-fit: cover;
    width: 150px;
    border: solid;
}
.ftrMenu ul li a{
    color: aliceblue;
    text-decoration: none;
    text-align: center;

}
.ftrMenu ul li span{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}
.footerMenu{
    height: 50px;
    background-color: rgb(2, 115, 152);
    margin-bottom: 0;
}

/* AjouterRecette.html */
.sectionAjouter{
    background-color: rgb(2, 115, 152);
    margin-top: 1px;
    font-size: 1.5rem;
    color:aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 15px;
}
.formAjouter{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 20px;
    border: solid;
    border-color: rgb(0, 61, 126);
    border-radius: 6px;
    background-color: azure;
}
.formAjouter label{
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 7px;
}
.formAjouter #nom{
    max-width: 300px;
    margin-bottom: 20px;
    height: 25px;
    border-radius: 5px;
}
.formAjouter #description{
    height: 80px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.formAjouter #ingredients{
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.formAjouter #recette{
    height: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.formAjouter #img{
    border-radius: 5px;
    margin-bottom: 20px;
}
.formAjouter .sectionBtn{
    display: flex;
    flex-direction: row-reverse;
}
.formAjouter .sectionBtn button{
    width: 100px;
    margin: 10px;
    background-color: rgb(0, 61, 126);
    color: aliceblue;
    border-radius: 3px;
    padding: 10px;
    border: 5px solid aliceblue;
    border-radius: 10px;
}

/* ListeRecettes.html */
.listeImagesFiltres{
    display: flex;
    flex-direction: row;
}
.listeFiltres{
    display: flex;
    flex-direction: column;
    background-color: azure;
    border:solid 3px rgb(0, 61, 126);
    padding: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    min-height: 1000px;
    position: sticky;
}
.listeFiltres h1{
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 100px;
    margin-top: 200px;
}
.listeFiltres section{
    display: flex;
    flex-direction: column;
}
.listeFiltres label{
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
}
.listeFiltres select{
    height: 25px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.listeImagesFiltres ul{
    display: flex;
    flex-wrap: wrap;
}
.listeImagesFiltres ul li{
    background-color: rgb(2, 115, 152);
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    color:aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    max-height: 300px;
}
.listeImagesFiltres ul li img{
    object-fit: contain;
    max-width: 250px;
    border: solid 2px black;
    border-radius: 5px;
    margin-top: 10px;
}
.listeImagesFiltres ul li a{
    color:aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
}
.footerParcourir{
    background-color: rgb(2, 115, 152);
    padding: 20px;
    bottom: 0;
    position: sticky;
}

/* pageUtilisateur.html */
.bvnLog{
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(2, 115, 152);
    margin-top: 10px;
    color: aliceblue;
    text-align: center;
}
.btnChoix{
    display: flex;
    flex-direction: column;
}
.btnChoix a{
    padding:20px;
    max-height: 30px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid aliceblue;
    margin-bottom: 30px;
    color: aliceblue;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 10px;
}
.btnChoix .btnLog{
    margin-top: 50px;
    background-color: azure;
    border: solid 3px rgb(0, 61, 126);
    border-radius: 5px;
}
.footerUser{
    background-color: rgb(2, 115, 152);
    padding: 30px;
    margin-top: 25%;
    position: sticky;
    bottom: 0;
}