/* Style pour les entêtes de toute les pages */
.entete{
    background-color: rgb(2, 115, 152);
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.entete #idBtnConn {
    background-color: rgb(0, 61, 126);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    text-decoration: none;  
}

.boutonEntete{
    background-color: rgb(0, 61, 126);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    text-decoration: none;    
    transition: 1s;  
} 
.boutonEntete:hover{
    background-color: aliceblue;
    color: rgb(0, 61, 126);
    transition: 1s;
}

.entete img{
    max-width: 300px;
    max-height: 100px;
    border-radius: 10px;
    margin-left: 45px;
}
/* Correction d'entête pour certaines pages */
#btnHome{
    max-height: 20px;
    max-width: 20px;
}

/* index.php */
#imgSite{
    width: 1000px;
    height: 400px;
    object-fit: cover;
}
.sectionImage{
    margin-right: none;
    margin-left: none;
    display: flex;
    justify-content: center;
}
.msgbvn{
    background-color: rgb(2, 115, 152);
    padding: 20px;
}
.msgbvn span{
    font-size: 1.5rem;
    color:aliceblue;
    font-family: Helvetica, Arial, sans-serif;
}
.btnMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgb(2, 115, 152);
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-top:3px white solid;
}
.btnMenu a{
    padding: 20px;
    margin: 10px;
    background-color: rgb(0, 61, 126);
    border-radius: 15px;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    width: 325px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
.ftrMenu{
    background-color: azure;
    padding: 10px;
}
.ftrMenu h1{
    font-size: 2rem;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    
}
.ftrMenu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.ftrMenu ul li{
    background-color: rgb(0, 61, 126);
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    border-radius: 10px;
}
.ftrMenu ul li img{
    object-fit: cover;
    width: 150px;
    border: solid;
}
.ftrMenu ul li a{
    color: aliceblue;
    text-decoration: none;
    text-align: center;

}
.ftrMenu ul li span{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}
.footerMenu{
    height: 50px;
    background-color: rgb(2, 115, 152);
    margin-bottom: 0;
}
#listeMeilleuresRecettes li img{
    object-fit: contain;
    width: 250px;
    height: 250px;
    border: solid 4px black;
    border-radius: 5px;
    background-color: aliceblue;
}

/* AjouterRecette.html */
.sectionAjouter{
    background-color: rgb(2, 115, 152);
    margin-top: 1px;
    font-size: 1.5rem;
    color:aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    padding: 15px;
}
.formAjouter{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 20px;
    border: solid;
    border-color: rgb(0, 61, 126);
    border-radius: 6px;
    background-color: azure;
}
.formAjouter label{
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 7px;
    color:black
}
#lblDescrip{
    margin-top: 15px;
}
.filtreAjouter{
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    padding: 15px;
    justify-content: center;
    border-radius: 6px;
    background-color: white;
}
.filtreAjouter div{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filtreAjouter div label{
    margin-right: 5px;
}

.formAjouter #nom{
    max-width: 300px;
    margin-bottom: 20px;
    height: 25px;
    border-radius: 5px;
}
.formAjouter #description{
    height: 80px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.formAjouter #ingredients{
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.formAjouter #recette{
    height: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.formAjouter #img{
    border-radius: 5px;
    margin-bottom: 20px;
}
.formAjouter .sectionBtn{
    display: flex;
    flex-direction: row-reverse;
}
.formAjouter .sectionBtn button{
    width: 100px;
    margin: 10px;
    background-color: rgb(0, 61, 126);
    color: aliceblue;
    border-radius: 3px;
    padding: 10px;
    border: 5px solid aliceblue;
    border-radius: 10px;
}

/* ListeRecettes.html */
.listeImagesFiltres{
    display: flex;
    flex-direction: row;
}
.listeFiltres{
    display: flex;
    flex-direction: column;
    background-color: azure;
    border:solid 3px rgb(0, 61, 126);
    padding: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    min-height: 1000px;
    position: sticky;
}
.listeFiltres h1{
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 100px;
    margin-top: 200px;
}
.listeFiltres section{
    display: flex;
    flex-direction: column;
}
.listeFiltres label{
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
}
.listeFiltres select{
    height: 25px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.listeImagesFiltres ul{
    display: flex;
    flex-wrap: wrap;
}
.listeImagesFiltres ul li{
    background-color: rgb(2, 115, 152);
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    color:aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    max-height: 300px;
}
.listeImagesFiltres ul li img{
    object-fit: contain;
    width: 250px;
    height: 250px;
    border: solid 2px black;
    border-radius: 5px;
    margin-top: 10px;
    background-color: aliceblue;
}
.listeImagesFiltres ul li a{
    color:aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
}
.footerParcourir{
    background-color: rgb(2, 115, 152);
    padding: 20px;
    bottom: 0;
    position: sticky;
}

/* pageUtilisateur.html */
.bvnLog{
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(2, 115, 152);
    margin-top: 10px;
    color: aliceblue;
    text-align: center;
}
.btnChoix{
    display: flex;
    flex-direction: column;
}
.btnChoix a{
    padding:20px;
    max-height: 30px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid aliceblue;
    margin-bottom: 30px;
    color: aliceblue;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 10px;
}
.btnChoix .btnLog{
    margin-top: 50px;
    background-color: azure;
    border: solid 3px rgb(0, 61, 126);
    border-radius: 5px;
}
.footerUser{
    background-color: rgb(2, 115, 152);
    padding: 30px;
    margin-top: 25%;
    position: sticky;
    bottom: 0;
}
.loginForm{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 60px;
    padding-top : 1rem;
    padding-bottom : 1rem;
    padding-left : 1rem;
    padding-right : 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 20rem;
    margin-bottom: 40%;
}

.loginFieldset {
    display:flex;
    flex-direction: column;
    align-items: center;
    border:none
}

.loginBody{
    background-color: azure;
    display: flex;
    flex-direction: column;
}
.positionForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    background-color: rgb(2, 115, 152);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    color: white;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    order: 2;
}

.loginBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 115, 152);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.input{
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
    border-radius: 10px;
}

.lbl{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.loginBtn{
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(2, 115, 152);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
}

.btnHome, #btnHome {
    display: inline-block;
    margin-left: 1rem; 
    order: 1;
}

.fakeBtn.login, .fakeBtn.creerCompte{
    margin-right: 2rem;
    border: 1px solid black;
    padding: .5rem;
    background-color: rgb(23, 143, 235);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    order: 3;
}
/* recette.html */
.image_recette {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(2, 115, 152);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: solid black;
    object-fit: contain;
    height: 300px;
    width: 600px;
    background-color: aliceblue;
}
#mot_clef{
    display: flex;
    flex-direction: row;
    background-color: rgb(2, 115, 152);
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color:aliceblue;
    justify-content: space-between;
    max-width: 400px;
    margin-left: 225px;
    margin-top: 15px;
    border: solid black 3px;
    border-radius: 7px;
}
#titre_recette h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3rem;
    color:aliceblue;
}
#titre_recette {
    background-color: rgb(0, 61, 126);
    padding: 6px;
    border-radius: 10px;
    border: solid aliceblue 3px;
}
#desc{
    background-color: rgb(0, 61, 126);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: solid black 3px;
    color: aliceblue;
    text-align: left;
    padding: 10px;
}
#desc p{
    background-color: aliceblue;
    border-radius: 7px;
    color: black;
    padding: 10px;
}
#prep{
    background-color: rgb(0, 61, 126);
    padding:7px;
    border-radius: 10px;
    margin-top: 15px;
    text-align: left;
    border: solid aliceblue 3px;
}
#prep p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    color: aliceblue;
}
#ingre{
    background-color: rgb(0, 61, 126);
    color:aliceblue;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    border: solid aliceblue 3px;
}
#ingre h1{
    color:aliceblue;
}
#ingre ul{
    background-color: aliceblue;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    border-radius: 7px;
    color: black;
}

.recette{
    text-align: center;
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
    background-color : azure;
    overflow-wrap: break-word;
    margin-bottom: 40px;
    border-radius: 5px;
}
#prepa{
    background-color: rgb(0, 61, 126);
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    border: solid aliceblue 3px;
}
#prepa h1{
    color: aliceblue;
}
#prepa ul{
    background-color: aliceblue;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    border-radius: 7px;
}
.recette ul {
    margin: 0;
    padding: 0;
}

.recette li {
    list-style-position: inside;
}
.recette h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
.evalRecette{
    display: flex;
    flex-direction:column;
    margin-top: 3%;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    border: 2px solid aliceblue;
    background-color: rgb(0, 61, 126);
    align-items:flex-start;
    border-radius: 7px;
}
.evalRecette h1{
    color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}
.evalRecette label{
    color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}
.posEval{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.evalRecette form label{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 50px;
}
.evalRecette form textarea{
    width: 300px;
    border-radius: 7px;
    color: black;
}
.evalRecette form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.stars {
    font-size: 34px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 145PX;
    margin-bottom: 10PX;
  }
  .stars .star {
    color: #ccc;
    display: inline-block;
    transition: color 0.2s;
  }
  .stars .star:hover,
  .stars .star.active {
    color:yellow;
  }
#avisSubmit{
    margin-left: 336px;
    background-color: aliceblue;
    padding: 6px;
    border-radius: 7px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
}
#addFavori{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
}
.avis-list_item{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}
.avis-list_item h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    background-color: rgb(2, 115, 152);
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    color: aliceblue;
    border-radius: 7px;
    border:solid black 3px;
}
/* modification du compte */
#modMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-size: 2rem;
    color: rgb(2, 115, 152);
    font-family: Helvetica, Arial, sans-serif;
    border:solid 3px rgb(2, 115, 152);
    padding: 20px;
    border-radius: 10px;
}
/* modification du compte */
#resForm{
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 6px;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 20px;
}
#btnDeco{
    background-color: rgb(0, 61, 126);
    border-radius: 6px;
    border: solid aliceblue 3px;
    color: aliceblue;
}
#btnDeco:hover{
    background-color: aliceblue;
    color: rgb(0, 61, 126);
    transition: 1s;
}

.avis-list_item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.avis {
    margin-bottom: 20px; /* Ajoute une marge en bas de chaque avis */
    border-bottom: 1px solid #ccc; /* Ajoute une bordure inférieure */
    padding-bottom: 10px; /* Ajoute un espacement entre la bordure et le contenu de l'avis */
    font-family: Arial, sans-serif;
}

.avis span {
    display: block;
    margin-bottom: 5px;
}

.avis span:first-child {
    font-weight: bold;
}

.avis span:nth-child(2) {
    color: #ffa500; /* couleur de la note */
}

.avis span:last-child {
    font-style: italic;
}

.titre {
    text-align: center;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  #addFavori{
    margin-top: 30px;
    font-size: 20px;
  }

  .recetteProfil{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
    background-color : azure;
    overflow-wrap: break-word;
    margin-bottom: 40px;
    border-radius: 5px;
}
/* favoris */
#fav h1{
    background-color: rgb(2, 115, 152);
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    padding: 25px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 7px;
    border: solid aliceblue 3px;
    color: aliceblue;
}
#fav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#fav ul img{
    object-fit: contain;
    width: 250px;
    height: 250px;
    border: solid 2px black;
    border-radius: 5px;
    background-color: aliceblue;
}
#fav ul li{
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 115, 152);
    padding: 20px;
    border: solid black 3px;
    border-radius: 7px;
    color:aliceblue;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: 35px;
    align-content: center;
    align-items: center;
}
#fav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: 15px;
}
/* profil */
#prof{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#n_prof{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: aliceblue;
    padding: 30px;
    background-color: rgb(2, 115, 152);
    margin-top: 30px;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    border-radius: 7px;
}
#avis{
    background-color: azure;
    border: solid black 3px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 7px;
}
.recetteProfil{
    display: flex;
    flex-direction: column;
}
.recetteProfil ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}
.recetteProfil ul li{
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 115, 152);
    padding: 30px;
    border:solid black 3px;
    border-radius: 7px;
    margin: 30px;
}
.recetteProfil ul li img{
    object-fit: contain;
    width: 250px;
    height: 250px;
    border: solid 2px black;
    border-radius: 5px;
    background-color: aliceblue;
}
.recetteProfil ul li a{
    color: aliceblue;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin: 15px;
    margin-bottom: 15px;
}
.recetteProfil h2{
    color: aliceblue;
    background-color: rgb(2, 115, 152);
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin: 15px;
    margin-bottom: 15px;
    border: solid black 3px;
    border-radius: 7px;
    padding: 30px;
}
#n_prof{
    background-color: rgb(2, 115, 152);
}